<!DOCTYPE html>
{% extends "_main_base.html" %} {% block head %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- Load self-defined JS -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <!-- Load CSS file for DataTables  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
      integrity="sha512-1k7mWiTNoyx2XtmI96o+hdjP8nn0f3Z2N4oF/9ZZRgijyV4omsKOXEnqL1gKQNPy2MTSP9rIEWGcH/CInulptA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- load jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- load DataTables -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
      integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <style>
      /* 使用 CSS 設置特定列的最小寬度，確保Updated日期顯示在同一行*/
      th:nth-child(5),
      td:nth-child(5) {
        min-width: 150px;
        white-space: nowrap;
      }

      .tag {
        background-color: #e0e0e0;
        border-radius: 4px;
        padding: 1.5px 7px;
        font-size: 14px;
      }

      .heart-red {
        color: rgb(182, 72, 72);
      }
    </style>
    {% endblock %}
  </head>
  <body>
    <!-- <div class="jumbotron">
      <h1 class="display-4">Investment Issue Overview</h1>
      <hr class="my-4" />
    </div> -->
    {% block content %}
    <div class="container mt-2 mx-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <!-- Table with hoverable rows -->
          <table id="Table" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Active</th>
                <th scope="col">Item</th>
                <th scope="col">Tickers</th>

                <th scope="col">Updated</th>
                <th scope="col">Uplodaer</th>
                <th scope="col">Follow</th>
                <th scope="col">Followers</th>
              </tr>
            </thead>
            <tbody>
              {% for item_meta in item_meta_list %}
              <tr>
                <!-- Row number (using th for strong fontsize)-->
                <th scope="row">{{loop.index}}</th>
                {% if item_meta['is_active'] == True %}

                <!-- Active -->
                <td data-sort="1">
                  <i class="bi bi-check-circle"></i>
                </td>
                {% else %}
                <td data-sort="0">
                  <i class="bi bi-x-circle-fill"></i>
                </td>
                {% endif %}

                <!-- issue (embeded link) -->
                <td style="text-align: left">
                  {% if item_meta['item_type'] == 'following_issues' %}
                  <a href="{{url_for('main.investment_issue_review', item_id=item_meta['_id'])}}">
                    {{ item_meta['item_name'] }}
                  </a>
                  {% else %}
                  <a href="{{url_for('main.investment_assumption_review', item_id=item_meta['_id'])}}">
                    {{ item_meta['item_name'] }}
                  </a>
                  {% endif %}
                </td>

                <td>
                  {% if item_meta['tickers']%} {% for ticker in
                  item_meta['tickers']%}
                  <span class="tag">{{ ticker }}</span>
                  {% endfor %} {% endif %}
                </td>

                <td>{{ item_meta['updated_timestamp'] }}</td>

                <td>{{item_meta["uploader"]}}</td>

                <!-- Follow Issue-->
                {% if item_meta['is_following'] == True %}
                <td data-sort="1">
                  <i
                    class="bi bi-suit-heart-fill heart-red button-like follow-item"
                    data-item_id="{{item_meta['_id']}}"
                  ></i>
                </td>
                {% else %}
                <td data-sort="0">
                  <i
                    class="bi bi-suit-heart button-like follow-item"
                    data-item_id="{{item_meta['_id']}}"
                  ></i>
                </td>
                {% endif %}
                <td id="follower_num_{{ item_meta['_id'] }}">
                  {{ item_meta['followers_num'] }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

{% block scripts %}
<script>
</script>
{% endblock %}
