<!DOCTYPE html>
<html>
  <head>
    {% extends "main_base.html" %}
    <meta charset="utf-8" />
    <title>Marked in the browser</title>
  </head>
  {% block content %}
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Company Admin</h1>
      <hr class="my-4" />
      <p class="lead">一站式整合公司行政流程</p>
    </div>
    <br />
    <br />

    <div class=".container mt-5 mb-5 mx-4">
      <div class="row">
        <div class="col-md-4 mb-3">
          <a
            href="https://docs.google.com/spreadsheets/d/1WGGSVWME6rtiotZWyA8YC79M17LV3MoYAT9eTgj1Z3U/edit?usp=sharing"
            target="_blank"
            class="btn btn-light custom-high-button btn-block"
            >班表填寫
          </a>
        </div>
        <div class="col-md-4 mb-3">
          <a
            href="https://docs.google.com/spreadsheets/d/1EwIZS-xZp_HWwA9pX-uJYSRqUK9FCXL4ImgYaPlJaaY/edit?usp=sharing"
            class="btn btn-secondary custom-high-button btn-block"
            target="_blank"
            >週會主題
          </a>
        </div>
        <div class="col-md-4 mb-3">
          <a
            href="https://docs.google.com/spreadsheets/d/1WGGSVWME6rtiotZWyA8YC79M17LV3MoYAT9eTgj1Z3U/edit?usp=sharing"
            class="btn btn-light custom-high-button btn-block"
            target="_blank"
            >待辦事項
          </a>
        </div>
        <div class="col-md-4 mb-3">
          <a
            href=https://drive.google.com/drive/folders/1lLVqan-cthrQ-JvUe5MuLJmK7-YDG3uN
            class="btn btn-secondary custom-high-button btn-block"
            target="_blank"
            >週報留存
          </a>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
