<!DOCTYPE html>
<html lang="en">
  {% extends "_main_base.html" %}
  <head>
    {% block head %} {{ super() }}
    <style>
      .filename-format {
        font-size: 0.9em;
        color: #555;
      }
      .highlight {
        font-weight: bold;
        color: #007bff;
      }
    </style>

    <script src="{{ url_for('static', filename='assets/js/files_upload.js') }}"></script>
    {% endblock %}
  </head>

  <body>
    {% block content %}
    <div class="container mt-5">
      <h2 class="card-title">內部研報上傳</h2>
      <div role="alert" class="alert alert-info">
        上傳成功後可至「<a
          href="{{url_for('main.internal_investment_report_overview')}}"
          >研究紀錄</a
        >」頁面確認
      </div>

      <div class="card">
        <div class="card-body">
          <form id="uploadForm" enctype="multipart/form-data">
            <div class="form-group">
              <label for="report_scope">Report Scope</label>
              <select
                class="form-control"
                id="report_scope"
                name="report_scope"
                required
              >
                <option value="stock" selected>Stock</option>
                <option value="industry">Industry</option>
              </select>
            </div>
            <div class="form-group">
              <label for="ticker">Ticker</label>
              <input
                type="text"
                class="form-control"
                id="ticker"
                name="ticker"
                placeholder="ex: AAPL(僅能填寫一個)"
                required
              />
            </div>
            <div class="form-group">
              <label for="report_type">Report Type</label>
              <select
                class="form-control"
                id="report_type"
                name="report_type"
                required
              >
                <option value="" disabled selected>Select a Type</option>
                <option value="preliminary">初步研究 || Preliminary</option>
                <option value="comprehensive">深入研究 || Comprehensive</option>
                <option value="initial">初次推薦 || Initial</option>
                <option value="tracking">定期追蹤 || Tracking</option>
                <option value="model">財務模型 || Model</option>
                <option value="unspecified">不指定 || Unspecified</option>
              </select>
            </div>
            <div class="form-group">
              <label for="files">
                Files
                <span class="filename-format">
                  (檔名格式:
                  <span class="highlight"
                    >2024-10-01_TSM_Q3法說更新：多項成⻑點維持動能.pdf</span
                  >)
                </span>
              </label>
              <input
                type="file"
                class="form-control"
                id="files"
                name="files"
                multiple
                required
              />
            </div>
            <br />
            <button
              type="submit"
              id="uploadButton"
              class="btn btn-outline-dark"
            >
              Upload
            </button>
            <div id="loadingIndicator" style="display: none">
              <span
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>
              Uploading...
            </div>
          </form>
        </div>
      </div>

      <div id="uploadResultBlock" class="card" style="display: none">
        <div class="card-body">
          <div id="uploadResultList"></div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

{% block scripts %} {{ super() }}
<script>
  $(document).ready(function () {
    const tickerInput = $("#ticker");
    // Change ticker input field based on report scope
    // If industry, allow multiple tickers and remove required attribute
    $("#report_scope").on("change", function () {
      if ($(this).val() === "industry") {
        tickerInput.prop("required", false);
        tickerInput.attr("multiple", "multiple");
        tickerInput.attr("placeholder", "ex: AAPL, MSFT (可填寫多個)");
      } else {
        tickerInput.prop("required", true);
        tickerInput.removeAttr("multiple");
        tickerInput.attr("placeholder", "ex: AAPL (僅能填寫一個)");
      }
    });
  });

  var apiUrl = "{{ url_for('main.upload_internal_stock_report') }}";
  UploadReport(apiUrl);
</script>
{% endblock %}
