<!DOCTYPE html>
{% extends "_main_base.html" %}
<html lang="en">
  {% block head %}
  <!-- 保留基础模板中的其他 head 内容 -->
  {{ super() }}
  <!-- DataTables CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
  />

  {% endblock %}
  <body>
    {% block content %}
    <div class="jumbotron">
      <h1 class="display-4"><strong>內部研究紀錄</strong></h1>
      <hr class="my-4" />
      <a
        class="btn btn-outline-dark"
        href="{{url_for('main.render_static_html', page='internal_stock_report_upload')}}"
        >內部研報上傳</a
      >
    </div>

    <div class="container mt-2 mx-6">
      <div class="card">
        <div class="card-body">
          <div class="card-body">
            {% from 'macros/stock_document_table.html' import
            render_internal_stock_report_table %}
            {{render_internal_stock_report_table(stock_report_meta_list) }}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

{% block scripts %}
<!-- 覆盖基础模板中的 jQuery 引入 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
  $("#Table").DataTable({
    paging: true, // 启用分页
    ordering: true, // 启用排序
    info: true, // 启用表格信息
    searching: true, // 启用搜索
    pageLength: 50, // 设置每页显示 50 条记录
  });
</script>
{% endblock %}
