<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  {% extends "_main_base.html" %}
  <body>
    {% block content %}
    <div class="jumbotron text-center">
      <h1 class="display-4"><strong>Investment Issue Review</strong></h1>
      <hr class="my-4" />
    </div>
    
    <!-- 引入issue review模板 -->
    {% include "_issue_review_model.html" %} {% endblock %}
    <!-- 在頁尾添加額外的間距 -->
    <div class="footer-spacing"></div>
  </body>
</html>
