<!DOCTYPE html>
{% extends "_main_base.html" %} {% block head %}
<head>
  {{ super() }}
  <!-- 本頁面標題 -->
  <title>{% block title %}{{ review_meta['assumption'] }}{% endblock %}</title>
  <style>
    /* 用於調整標題的間距 */
    h1 h2 h3,
    h4,
    h5 {
      margin-top: 25px;
      margin-bottom: 10px;
    }
  </style>
  <!-- 引入 Plotly 庫 -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
{% endblock %}
<body>
  {% block content %}
  <!-- 此處雖然非實際的目錄導引位置，但定位於此瀏覽時較為便利 -->
  <div class="jumbotron text-center" id="table_of_sections">
    <h1 class="display-4"><strong>投資假設</strong></h1>
    <hr class="my-4" />
    <a
      class="btn btn-outline-dark"
      href="{{ url_for('main.investment_tracking_overview', tracking_type='following_issues') }}"
    >
      投資議題總覽
    </a>
    <a
      class="btn btn-outline-dark"
      href="{{ url_for('main.investment_tracking_overview', tracking_type='investment_assumptions') }}"
    >
      投資假設總覽
    </a>
  </div>

  <div class="container mt-2">
    <h3 class="display-6"><strong></strong></h3>

    <!-- Issue基本資訊 -->
    <div class="card">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <h3 class="mb-0">
          假設: 「{{ review_meta['investment_assumption'] }}」
        </h3>
        <!-- 使用 d-flex justify-content-end 將按鈕推到右邊並保持對齊 -->
        <div class="d-flex justify-content-end">
          <a
            href="{{ url_for('main.investment_assumption_review_records', item_id=assumption_meta['_id']) }}"
            class="btn btn-outline-primary btn-sm ml-2"
            >查看歷史紀錄</a
          >
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <p class="card-text">
              <!-- Tickers -->
              <strong>Tickers:</strong>
              {% for ticker in assumption_meta['tickers'] %}
              <a
                class="tag"
                style="color: black"
                href="{{ url_for('main.ticker_market_info', ticker=ticker) }}"
                >{{ ticker }}</a
              >
              {% endfor %}
            </p>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-md-4">
            <!-- 本次彙整更新日期 -->
            <p class="card-text">
              <strong>更新日期:</strong>
              {% if review_meta['data_date_str'] %}
              <span>{{ review_meta['data_date_str'] }}</span>
              {% else %}
              <span class="text-muted tag">本假設尚未檢核</span>
              {% endif %}
            </p>
          </div>

          <!-- risk_score -->
          <div class="col-md-4">
            <p class="card-text">
              <strong>風險分數:</strong>
              <span>{{ review_meta['risk_score'] }}</span>
            </p>
          </div>

          <!-- 狀態 -->
          <div class="col-md-4">
            <p class="card-text text-end">
              <strong>持續更新:</strong>
              <span class="tag true-tag"
                >{{ assumption_meta['is_active'] }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- 近況分析 -->
    <div class="mt-4">
      <div class="card mb-4" id="#">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h3 class="mb-0">近況分析</h3>
          <a
            href="#table_of_sections"
            class="btn btn-outline-secondary btn-sm float-end"
            >回到導引列</a
          >
        </div>
        <div class="card-body">
          <div id="assumption_review">
            {{ review_meta.get('assumption_review') | safe }}
          </div>
        </div>
      </div>
    </div>

    <!-- 風險評分(risk_assessment) -->
    <div class="mt-4">
      <div class="card mb-4" id="#">
        <div
          class="card-header d-flex justify-content-between align-items-center"
        >
          <h3 class="mb-0">風險評分</h3>
          <a
            href="#table_of_sections"
            class="btn btn-outline-secondary btn-sm float-end"
            >回到導引列</a
          >
        </div>
        <div class="card-body">
          <div id="risk_assessment">
            {{ review_meta.get('risk_assessment') | safe }}
          </div>
        </div>
      </div>
    </div>

    <!-- Risk Score Graph -->
    <div class="card">
      <h3 class="card-header d-flex justify-content-between align-items-center">
        Risk Score Trend
        <i
          type="button"
          class="bi bi-question-circle button-like"
          data-container="body"
          data-toggle="popover"
          data-placement="top"
          data-content="計算標準：80分以上代表假設已接近被推翻；70-79分表示假設存在重大疑慮；60-69分為存在部分風險；59分以下表示假設維持良好。"
        ></i>
      </h3>
      <!-- 用於渲染圖表的容器 -->
      <div id="line-chart"></div>

      <!-- 嵌入 JSON 數據 -->
      <script type="application/json" id="graph-data">
        {{ graphJSON | safe }}
      </script>

      <!-- 使用 Plotly 的 JavaScript 來渲染圖表 -->
      <script type="text/javascript">
        // 從 <script> 標籤中讀取 JSON 數據
        var graphData = JSON.parse($("#graph-data").text());
        // 設定禁用工具欄的配置
        var config = { displayModeBar: false };
        // 使用 Plotly 渲染圖表
        Plotly.newPlot("line-chart", graphData.data, graphData.layout, config);
      </script>
    </div>
  </div>
  <!-- 在頁尾添加額外的間距 -->
  <div class="footer-spacing"></div>

  {% endblock %}
</body>

{% block scripts %} {{ super() }}
<script>
  $('[data-toggle="popover"]').popover();
  convertMarkdownText("assumption_review");
  convertMarkdownText("risk_assessment");
</script>
{% endblock %}
