<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends "main_base.html" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Upload with Bootstrap</title>
  </head>
  {% block content %}
  <body>
    <div class="container mt-5">
      <h1>問題追蹤</h1>
      <form
        action="{{url_for('main.upload_issue')}}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="issue">問題</label>
          <input
            type="text"
            class="form-control"
            id="issue"
            name="issue"
            placeholder="use natural language to describe the issue (ex: Vision Pro lastest shipments)"
            required
          />
        </div>
        <div class="form-group">
          <label for="ticker">Related Ticker (以逗號分隔)</label>
          <input
            type="text"
            class="form-control"
            id="tickers"
            name="tickers"
            placeholder="AAPL,MSFT,..."
            required
          />
        </div>
        <button type="submit" class="btn btn-secondary">Upload</button>
      </form>
    </div>
    <div class="container mt-4">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %}
    </div>
  </body>
  {% endblock %}
</html>
