<!DOCTYPE html>
{% extends "_main_base.html" %}

<html>
  {% block head %}
  <head>
    {{ super() }}
    <style>
      .unread-tag {
        background-color: #c31111; /* 深色背景 */
        color: #ffffff; /* 浅色文字 */
        border-radius: 4px;
        padding: 2px 8px;
        font-size: 16px;
      }

      .alert-tag {
        background-color: #bacfe8;
      }

      .update-tag {
        background-color: #dec9b8;
      }

      .system-tag {
        background-color: #99cfb8;
      }

      .todo-tag {
        background-color: #cfa482;
      }

      .read-title {
        color: purple; /* 已讀通知標題顏色，類似於Google已瀏覽過的網頁 */
      }
    </style>
    <!-- DataTables CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
    />
  </head>
  {% endblock %} {% block content %}
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Notification Overview</h1>
      <hr class="my-4" />
      <!-- <p class="lead">僅保存最近90天的通知紀錄</p> -->
    </div>
    <div class="container mt-2 mx-6">
      <div></div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <table id="Table" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Type</th>
                <th scope="col">Title</th>
                <th scope="col">Is_Read</th>
              </tr>
            </thead>
            <tbody>
              {% for notification_meta in notification_meta_list %}
              <tr>
                <td scope="row">{{ loop.index }}</td>
                <!-- 通知時間：white-space: nowrap; 樣式，這會確保內容不會自動換行 -->
                <td style="white-space: nowrap">
                  <span>{{ notification_meta["upload_timestamp"] }}</span>
                </td>
                <!-- 通知類型：通知類型標籤 -->
                <td>
                  <span
                    class="tag {% if notification_meta['type'] == 'System' %} system-tag {% elif notification_meta['type'] == 'Update' %} update-tag {% elif notification_meta['type'] == 'Todo' %} todo-tag {% elif notification_meta['type'] == 'Alert' %} alert-tag {% endif %}"
                  >
                    {{ notification_meta["type"] }}
                  </span>
                </td>

                <!-- 通知標題：標題文字如果超過指定寬度，將自動顯示省略號（...）。 -->
                <td
                  scope="row"
                  style="
                    text-align: left;
                    max-width: 400px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                  "
                >
                  <a
                    href="{{ url_for('main.notification_detail', notification_id=notification_meta['_id']) }}"
                    class="view-btn {% if notification_meta['is_read'] %} read-title {% endif %}"
                    data-notification_id="{{ notification_meta['_id'] }}"
                  >
                    {{ notification_meta["title"] }}
                  </a>
                </td>

                <td>
                  {% if notification_meta["is_read"]%}
                  <span class="tag true-tag">O</span>
                  {% else %}
                  <span class="unread-tag">X</span>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  {% endblock %}
</html>

{% block scripts %} {{ super() }}
<!-- 覆盖基础模板中的 jQuery 引入 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
  $("#Table").DataTable({
    paging: true, // 启用分页
    ordering: true, // 启用排序
    info: true, // 启用表格信息
    searching: true, // 启用搜索
    pageLength: 30, // 设置每页显示N条记录
  });
</script>
{% endblock %}
