<!DOCTYPE html>
<html>
  <head>
    {% extends "main_base.html" %}
    <meta charset="utf-8" />
    <title>Marked in the browser</title>
  </head>
  {% block content %}
  <body>
    <div class="container mt-5">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Perminssion Denied</h4>
        <p>Sorry, you don't have permission to access this page.</p>
        <hr />
        <p class="mb-0">
          If you think this is a mistake, please contact the admin.
          (email to: jeffchen@alphahelix.com.tw)
        </p>
      </div>
    </div>
  </body>
  {% endblock %}
</html>
