<!DOCTYPE html>
{% extends "_main_base.html" %}
<html lang="en">
  {% block head %} {{ super() }}
  <!-- 保留基础模板中的其他 head 内容 -->
  <!-- DataTables CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
  />

  <!-- Load self-defined JS -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

  <style>
    .heart-red {
      color: rgb(182, 72, 72);
    }

    .dark-tag {
        background-color: rgb(100, 88, 88);
        border-radius: 4px;
        padding: 2px 8px;
        font-size: 16px;
        color: white; /* 设置文字为白色 */
      }
  </style>

  {% endblock %} {% block content %}
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Pool List Management</h1>
      <hr class="my-4" />
      <p class="lead">
        <a href="" class="btn btn-dark">建立個股</a>
        <a href="" class="btn btn-dark">調整分工</a>
        <a href="" class="btn btn-dark">調整追蹤等級</a>
        <a
          href="https://finance-jeff.notion.site/8f97220a0df544a297626d203755dd0c?pvs=4"
          target="_blank"
          class="btn btn-dark"
          >說明文件</a
        >
      </p>
    </div>

    <div class="container mt-2 mx-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <!-- Table with hoverable rows -->
          <table id="Table" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Ticker</th>
                <th scope="col">Follow</th>
                <th scope="col">Researcher</th>
                <th scope="col">Holding Status</th>
                <th scope="col">Tracking Status</th>
                <th scope="col">Last Update Date</th>
                <th scope="col">Market Info</th>
                <th scope="col">Internal Info</th>
                <th scope="col">Setting</th>
              </tr>
            </thead>
            <tbody>
              {% for item_meta in pool_list_meta_list %}
              <tr>
                <td>
                  <a
                    href="{{ url_for('main.ticker_market_info', ticker=item_meta['ticker']) }}"
                  >
                    {{ item_meta['ticker'] }}
                  </a>
                </td>
                <!-- Follow Stock-->
                {% if item_meta['is_following'] == True %}
                <td data-sort="1">
                  <i
                    class="bi bi-suit-heart-fill heart-red button-like follow-item"
                    data-item_id="{{item_meta['ticker_info_id']}}"
                  ></i>
                </td>
                {% else %}
                <td data-sort="0">
                  <i
                    class="bi bi-suit-heart button-like follow-item"
                    data-item_id="{{item_meta['ticker_info_id']}}"
                  ></i>
                </td>
                {% endif %}
                
                <!-- researcher -->
                {% if item_meta['researcher'] != '' %}
                <td><span class="tag">{{ item_meta['researcher'] }}</span></td>
                {% else %}
                <td></td>
                {% endif %}
                
                <!-- holding_status -->
                <td>
                  {% if item_meta['holding_status']%} {% for status in item_meta['holding_status'].split(',') %}
                  <span class="tag">{{ status }}</span>
                  {% endfor %} {% endif %}
                </td>
                <td>{{ item_meta['tracking_status'] }}</td>
                <td>{{ item_meta['last_publication_timestamp'] }}</td>
                <td>
                  <a
                    href="{{ url_for('main.ticker_market_info', ticker=item_meta['ticker']) }}"
                    class="bi bi-graph-up button-like"
                  ></a>
                </td>
                <td>
                  <a
                    href="{{ url_for('main.ticker_internal_info', ticker=item_meta['ticker']) }}"
                    class="bi bi-terminal button-like"
                  ></a>
                </td>
                <td>
                  <a
                    href="{{ url_for('main.ticker_setting_info', ticker=item_meta['ticker']) }}"
                    class="bi bi-gear-fill button-like"
                  ></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>

{% block scripts %}
<!-- 覆盖基础模板中的 jQuery 引入 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>

<script>
  apiURL = "{{url_for('main.update_ticker_following_status')}}";
  handleFollowItem(apiURL);
</script>
{% endblock %}
