<!DOCTYPE html>
<html lang="en">
  {% extends "_main_base.html" %} {% block head %}
  <head>
    <!-- {{ super() }} -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  </head>
  {% endblock %} {% block content %}
  <body>
    <div class="jumbotron text-center">
      <h1 class="display-4"><strong>研報摘要</strong></h1>
      <hr class="my-4" />
    </div>

    <div class="container mt-4">
      <br />
      <!-- 僅顯示標題的前50個字元 -->
      <h2 class="display-6">標題: {{ title[:50] }} ({{report_date}})</h2>
      <div class="alert alert-secondary" role="alert">
        以下內容來源於{{source}}研究團隊，經AI摘要生成，內容僅供研究團隊參考
        <a href="{{url}}" target="_blank">(報告下載)</a>
      </div>

      <!-- 顯示全文/多/空摘要（markdown） -->
      <div class="card">
        <div id="$summary_markdown" class="markdown-body"></div>
      </div>
      <textarea id="$summary_text" style="display: none">
{{summary}}
      </textarea>

      <!-- 顯示issue_summary（dict） -->
      {% for key, value in issue_summary.items() %}
      <div class="card">
        <h3>{{ key }}</h3>
        <p>{{ value }}</p>
      </div>
      {% endfor %}
    </div>

    <!-- 在頁尾添加額外的間距 -->
    <div class="footer-spacing"></div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("$summary_markdown").innerHTML = marked.parse(
          document.getElementById("$summary_text").value
        );
      });
    </script>
  </body>
  {% endblock %}
</html>
