<!DOCTYPE html>
<html lang="en">
  <head>
    {% extends "_main_base.html" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  {% block content %}
  <body>
    <div class="container mt-5">
      <h1>美股研報上傳</h1>
      <form id="uploadForm" enctype="multipart/form-data">
        <div class="form-group">
          <label for="ticker">Ticker</label>
          <input
            type="text"
            class="form-control"
            id="ticker"
            name="ticker"
            placeholder="ex: AAPL(僅能填寫一個)"
            required
          />
        </div>
        <div class="form-group">
          <label for="source">Source</label>
          <select class="form-control" id="source" name="source" required>
            <option value="" disabled selected>Select a source</option>
            <option value="gs">GS</option>
            <option value="jpm">JPM</option>
            <option value="citi">Citi</option>
            <option value="barclays">Barclays</option>
            <option value="seeking_alpha">Seeking Alpha</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="files">Choose files to upload</label>
          <input
            type="file"
            class="form-control"
            id="files"
            name="files"
            multiple
            required
          />
        </div>
        <button type="submit" id="uploadButton" class="btn btn-dark">
          Upload
        </button>
        <div id="loadingIndicator" style="display: none">
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Uploading...
        </div>
      </form>
    </div>

    <div id="uploadResult"></div>
    <!-- 用於顯示上傳結果 -->
    <!-- 顯示上傳結果 -->
    <!-- {% if upload_success is defined %}
    <div class="container mt-5">
      {% if upload_success %}
      <h1>上傳結果：成功</h1>
      <p>以下檔案已成功上傳到雲端資料庫；可繼續上傳</p>
      {% else %}
      <h1>上傳結果：失敗</h1>
      <p>
        以下檔案檔名格式有誤，所有檔案皆未上傳，請修改以下錯誤檔名後，連同其餘檔案重新上傳
      </p>
      {% endif %}
      <ul class="list-group">
        {% for file_name in file_name_list %}
        <li class="list-group-item">{{ file_name }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %} -->
  </body>
  {% endblock %}
</html>

{% block scripts %}
<script>
  $(document).ready(function () {
    $("#uploadForm").on("submit", function (e) {
      e.preventDefault(); // 防止表單的默認提交行為

      // 禁用提交按鈕並顯示加載指示符
      $("#uploadButton").prop("disabled", true);
      $("#loadingIndicator").show();

      var formData = new FormData(this);

      $.ajax({
        type: "POST",
        url: "{{url_for('main.upload_us_stock_report')}}",
        data: formData,
        contentType: false,
        processData: false,
        success: function (response) {
          // 重新啟用按鈕並隱藏加載指示符
          $("#uploadButton").prop("disabled", false);
          $("#loadingIndicator").hide();

          // 清除文件上傳控件的內容
          $("#files").val("");

          // 顯示成功信息
          displayUploadResult(response.upload_success, response.file_name_list);
        },
        error: function (xhr) {
          // 重新啟用按鈕並隱藏加載指示符
          $("#uploadButton").prop("disabled", false);
          $("#loadingIndicator").hide();

          // 顯示錯誤信息
          var response = xhr.responseJSON;
          displayUploadResult(response.upload_success, response.file_name_list);
        },
      });
    });
  });

  function displayUploadResult(uploadSuccess, fileNameList) {
    var resultContainer = $("#uploadResult");
    resultContainer.empty(); // 清空之前的結果

    var resultHtml = '<div class="container mt-5">';
    if (uploadSuccess) {
      resultHtml +=
        "<h1>上傳結果：成功</h1><p>以下檔案已成功上傳到雲端資料庫；可繼續上傳</p>";
    } else {
      resultHtml +=
        "<h1>上傳結果：失敗</h1><p>以下檔案檔名格式有誤，所有檔案皆未上傳，請修改以下錯誤檔名後，連同其餘檔案重新上傳</p>";
    }
    resultHtml += '<ul class="list-group">';
    fileNameList.forEach(function (fileName) {
      resultHtml += '<li class="list-group-item">' + fileName + "</li>";
    });
    resultHtml += "</ul></div>";

    resultContainer.html(resultHtml);
  }
</script>
{% endblock %}
