<!DOCTYPE html>
{% extends "_main_base.html" %}
<html lang="en">
  {% block head %}
  <!-- 保留基础模板中的其他 head 内容 -->
  {{ super() }}
  <!-- DataTables CSS -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
  />

  <!-- Load self-defined JS -->
  <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

  <style>
    .heart-red {
      color: rgb(182, 72, 72);
    }
  </style>

  {% endblock %} {% block content %}
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Research Management</h1>
      <hr class="my-4" />
      <p class="lead">
        <!-- 個股追蹤設定 -->
        <a
          href="{{url_for('main.ticker_following_setting')}}"
          class="btn btn-outline-dark"
          >追蹤設定</a
        >
        <!-- 建立個股 -->
        <a
          href="{{url_for('main.create_ticker_info_page')}}"
          class="btn btn-outline-dark"
          >建立個股</a
        >
        <!-- 說明文件(notion) -->
        <a
          href="https://finance-jeff.notion.site/8f97220a0df544a297626d203755dd0c?pvs=4"
          target="_blank"
          class="btn btn-outline-dark"
          >說明文件</a
        >
      </p>
    </div>

    <div class="container mt-2 mx-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <!-- Table with hoverable rows -->
          <table id="Table" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Ticker</th>
                <!-- <th scope="col">Follow</th> -->
                <th scope="col">Profit Rating</th>
                <th scope="col">Risk Rating</th>
                <th scope="col">Researcher</th>

                <!-- 若有權限才會顯示以下欄位 -->
                {% if has_portfolio_info_access %}
                <th scope="col">Holding Status</th>
                <th scope="col">Pool List</th>
                <th scope="col">Tracking Status</th>
                {% endif %}

                <th scope="col">Market Info</th>
                <th scope="col">Internal Info</th>
                <th scope="col">Setting</th>
              </tr>
            </thead>
            <tbody>
              {% for item_meta in pool_list_meta_list %}
              <tr>
                <td>
                  <a
                    href="{{ url_for('main.ticker_market_info', ticker=item_meta['ticker']) }}"
                  >
                    {{ item_meta['ticker'] }}
                  </a>
                </td>
                <!-- Follow Stock-->
                <!-- {% if item_meta['is_following'] == True %}
                <td data-sort="1">
                  <i
                    class="bi bi-suit-heart-fill heart-red button-like follow-item"
                    data-item_id="{{item_meta['_id']}}"
                  ></i>
                </td>
                {% else %} -->
                <!-- <td data-sort="0">
                  <i
                    class="bi bi-suit-heart button-like follow-item"
                    data-item_id="{{item_meta['_id']}}"
                  ></i>
                </td>
                {% endif %} -->

                <!-- Profit Rating -->
                <td>{{item_meta["profit_rating"]}}</td>
                <!-- Risk Rating -->
                <td>{{item_meta["risk_rating"]}}</td>

                <!-- researcher -->
                {% if item_meta['researchers'] != '' %}
                <td>
                  <span class="tag"
                    >{{ item_meta['researcher_username'] }}</span
                  >
                </td>
                {% else %}
                <td></td>
                {% endif %} {% if has_portfolio_info_access %}
                <!-- holding_status -->
                <td>
                  {% if item_meta['holding_status']%} {% for status in
                  item_meta['holding_status']['securities'] %}
                  <span class="tag">{{ status }}</span>
                  {% endfor %} {% endif %}
                </td>

                <!-- Pool List -->
                {% if item_meta["in_poolList"]%}
                <td>
                  <span class="tag true-tag">Yes</span>
                </td>
                {% else %}
                <td>
                  <span class="tag false-tag">No</span>
                </td>
                {% endif %}
                <!-- Tracking Status -->
                <td>{{ item_meta['tracking_status']['tracking_level'] }}</td>
                {% endif %}
                <!-- Ticker Market info -->
                <td>
                  <a
                    href="{{ url_for('main.ticker_market_info', ticker=item_meta['ticker']) }}"
                    class="bi bi-graph-up button-like"
                  ></a>
                </td>

                <!-- Ticker Internal Info -->
                <td>
                  <a
                    href="{{ url_for('main.ticker_internal_info', ticker=item_meta['ticker']) }}"
                    class="bi bi-terminal button-like"
                  ></a>
                </td>

                <!-- Ticker Setting -->
                <td>
                  <a
                    href="{{ url_for('main.ticker_setting_info', ticker=item_meta['ticker']) }}"
                    class="bi bi-gear-fill button-like"
                  ></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    {% endblock %}
  </body>
</html>

{% block scripts %}
<!-- 覆盖基础模板中的 jQuery 引入 -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>

<script>
  apiURL = "{{url_for('main.update_ticker_following_status')}}";
  handleFollowItem(apiURL);
</script>
{% endblock %}
