<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      #modalContent {
        white-space: pre-wrap; /* 保持换行符，并自动换行 */
        word-wrap: break-word; /* 长单词换行 */
        overflow-wrap: break-word; /* 长单词换行 */
      }
      .modal-dialog {
        max-width: 120%; /* 模态框最大宽度 */
        max-height: 80%; /* 模态框最大高度 */
        resize: both; /* 允许模态框调整大小 */
        overflow: auto; /* 允许内容滚动 */
      }
      .modal-content {
        height: 100%;
      }
      .modal-resizable {
        position: relative;
      }
    </style>
    {% extends "_main_base.html" %}
  </head>
  {% block content %}
  <body>
    <div class="container mt-5">
      <h1>研究文件查詢</h1>
      <form
        action="{{ url_for('main.investment_document_search') }}"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="country">Country</label>
          <select class="form-control" id="country" name="country">
            <option value="US">US</option>
            <option value="TW">TW</option>
          </select>
        </div>

        <div class="form-group">
          <label for="document_type">Document Type</label>
          <select class="form-control" id="document_type" name="document_type">
            <option value="stock_report">Stock Report</option>
            <option value="stock_memo">Stock Memo</option>
            <option value="industry_report">Industry Report</option>
          </select>
        </div>

        <div class="form-group">
          <label for="ticker">Ticker</label>
          <input
            type="text"
            class="form-control"
            id="ticker"
            name="ticker"
            placeholder="2330, 2454... (可輸入多個，以逗號分隔)"
            required
          />
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="start_date">Start Date (optional)</label>
            <input
              type="date"
              class="form-control"
              id="start_date"
              name="start_date"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="end_date">End Date (optional)</label>
            <input
              type="date"
              class="form-control"
              id="end_date"
              name="end_date"
            />
          </div>
        </div>
        <button type="submit" class="btn btn-dark">Search</button>
        <a href="{{ url_for('main.quick_search_investment_document', days=7, folder_name='US_stock_report') }}" class="btn btn-dark">近7日美股個股</a>
        <a href="{{ url_for('main.quick_search_investment_document', days=7, folder_name='TW_stock_report') }}" class="btn btn-dark">近7日台股個股</a>
        <a href="{{ url_for('main.quick_search_investment_document', days=7, folder_name='TW_stock_memo') }}" class="btn btn-dark">近7日台股Memo</a>
        <a href="{{ url_for('main.quick_search_investment_document', days=7, folder_name='TW_industry_report') }}" class="btn btn-dark">近7日台股行業</a>
      </form>
    </div>
    <br />
    <div class="container mt-2 mx-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">文件列表</h5>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Data Timestamp</th>
                <th scope="col">Title</th>
                <th scope="col">Type</th>
                <th scope="col">Source</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for document_meta in document_meta_list %}
              <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ document_meta['data_timestamp'] }}</td>
                <td>
                  <a href="{{ document_meta['url'] }}" target="_blank"
                    >{{ document_meta['file_name'] }}</a
                  >
                </td>
                <td>{{ document_meta['document_type'] }}</td>
                <td>{{ document_meta['source'] }}</td>
                <td>
                  {% if document_meta['document_type'] == 'memo' %}
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-toggle="modal"
                    data-target="#reportModal"
                    data-blob_name="{{ document_meta['blob_name'] }}"
                  >
                    Read
                  </button>
                  {% else %}
                  <a
                    href="{{ document_meta['url'] }}"
                    target="_blank"
                    class="btn btn-secondary btn-sm"
                    >Read</a
                  >
                  {% endif %}
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-secondary btn-sm"
                    data-toggle="modal"
                    data-target="#metadataModal"
                    data-blob_name="{{ document_meta['blob_name'] }}"
                    data-data_timestamp="{{ document_meta['data_timestamp'] }}"
                    data-data_source="{{ document_meta['source'] }}"
                  >
                    Edit
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="reportModal"
      tabindex="-1"
      aria-labelledby="reportModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-resizable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reportModalLabel">Document Content</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <pre id="modalContent">Loading...</pre>
          </div>
          <div class="modal-footer">
            <a id="downloadButton" class="btn btn-secondary">Download</a>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
        <div class="resizable-handle"></div>
      </div>
    </div>

    <div
      class="modal fade"
      id="metadataModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="metadataModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="metadataModalLabel">Edit Meta Data</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="metadataForm">
              <div class="form-group">
                <label for="blob_name">GCS Blob Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="blob_name"
                  name="blob_name"
                  readonly
                />
              </div>
              <div class="form-group">
                <label for="datetime_str">Data Datetime</label>
                <input
                  type="text"
                  class="form-control"
                  id="datetime_str"
                  name="datetime_str"
                />
              </div>
              <div class="form-group">
                <label for="data_source">Data Source</label>
                <input
                  type="text"
                  class="form-control"
                  id="data_source"
                  name="data_source"
                />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              onclick="submitMetadataForm()"
            >
              Save
            </button>
            <button
              type="button"
              class="btn btn-danger"
              onclick="deleteDocument()"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function () {
        // 监听document_type选择的变化
        $("#document_type").change(function () {
          if ($(this).val() === "industry_report") {
            $("#ticker").prop("readonly", true);
          } else {
            $("#ticker").prop("readonly", false);
          }
        });

        $("#reportModal").on("show.bs.modal", function (event) {
          var button = $(event.relatedTarget); // 触发事件的按钮
          var blob_name = button.data("blob_name"); // 从按钮的 data-blob_name 属性获取 blob name
          var modal = $(this);
          var modalContent = modal.find("#modalContent");

          var get_content_url =
            "{{ url_for('main.get_GCS_text_file_content', blob_name='__blob_name__') }}".replace(
              "__blob_name__",
              encodeURIComponent(blob_name)
            );

          var download_file_url =
            "{{ url_for('main.download_GCS_file', blob_name='__blob_name__') }}".replace(
              "__blob_name__",
              encodeURIComponent(blob_name)
            );

          // 设置下载按钮的 href 属性
          modal.find("#downloadButton").attr("href", download_file_url);

          // 请求文件内容
          $.ajax({
            url: get_content_url,
            method: "GET",
            success: function (data) {
              var content = data.content;
              modalContent.text(content);
            },
            error: function () {
              modalContent.text("Failed to load content.");
            },
          });
        });

        // 当模态窗口显示时触发的事件
        $("#metadataModal").on("show.bs.modal", function (event) {
          var button = $(event.relatedTarget); // 触发按钮
          var blob_name = button.data("blob_name"); // 从data-*属性中提取信息
          var datetime_str = button.data("data_timestamp"); // 从data-*属性中提取信息
          var data_source = button.data("data_source"); // 从data-*属性中提取信息
          var modal = $(this);
          modal.find("#blob_name").val(blob_name);
          modal.find("#datetime_str").val(datetime_str);
          modal.find("#data_source").val(data_source);
        });
      });

      function deleteDocument() {
        var form = document.getElementById("metadataForm");
        var formData = {
          blob_name: form.blob_name.value,
        };
        $.ajax({
          url: "{{ url_for('main.delete_gcs_document') }}",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(formData),
          success: function (response) {
            // 判断服务器返回的状态
            if (response.status === "success") {
              console.log("Deleted Successfully:", response);
              // 模拟保存成功后关闭模态窗口
              $("#metadataModal").modal("hide");
              // 页面重新加载
              location.reload();
            } else {
              console.error("Deleted Fail", response.message);
              alert("Operation Fail: Server Error");
            }
          },
          //若請求失敗，則跳出錯誤訊息（通常為權限不足）
          error: function (xhr, status, error) {
            console.error("Deleted Fail");
            alert("Operation Fail: Permission Denied");
          },
        });
      }

      function submitMetadataForm() {
        var form = document.getElementById("metadataForm");
        // 这里可以添加AJAX请求将表单数据发送到服务器进行保存
        // 示例：
        var formData = {
          blob_name: form.blob_name.value,
          datetime_str: form.datetime_str.value,
          data_source: form.data_source.value,
        };

        // 使用 AJAX 请求将表单数据发送到 Flask 后端
        $.ajax({
          url: "{{ url_for('main.edit_gcs_stock_document_metadata') }}",
          type: "POST",
          contentType: "application/json",
          data: JSON.stringify(formData),
          success: function (response) {
            // 判断服务器返回的状态
            if (response.status === "success") {
              console.log("Updated Successfully:", response);
              // 模拟保存成功后关闭模态窗口
              $("#metadataModal").modal("hide");
              // 页面重新加载
              location.reload();
            } else {
              console.error("Updated Fail", response.message);
              alert("Operation Fail: Server Error");
            }
          },
          //若請求失敗，則跳出錯誤訊息（通常為權限不足）
          error: function (xhr, status, error) {
            console.error("Updated Fail");
            alert("Operation Fail: Permission Denied");
          },
        });
      }
    </script>
  </body>
  {% endblock %}
</html>
