<!DOCTYPE html>
<html lang="en">
  {% extends "main_base.html" %} {% block content %}
  <head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
    />
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/2.0.0/marked.min.js"></script>
    <style>
      #timeline {
        margin: 20px 0;
        position: relative;
      }
      .ui-slider-tick {
        width: 1px;
        height: 10px;
        background: black;
        position: absolute;
        top: 20px;
      }
      .ui-slider-tick-label {
        position: absolute;
        top: 30px;
        font-size: 15px;
        transform: translateX(-50%);
        white-space: nowrap; /* 防止文本換行 */
      }
    </style>
  </head>
  <body>
    <div class="container mt-4">
      <div id="news" class="container">
        <h2>新聞內容 <span id="current-date"></span></h2>
        <div id="timeline" class="container"></div>
        <br /><br />
        <p id="news-summary"></p>
      </div>
    </div>

    <script>
      $(document).ready(function () {
        var today = new Date();
        var startDate = new Date();
        startDate.setMonth(today.getMonth() - 3);

        var debounceTimer;

        $("#timeline").slider({
          min: startDate.getTime() / 1000,
          max: today.getTime() / 1000,
          step: 86400, // 一天的秒數
          value: today.getTime() / 1000, // 設置滑塊的初始值為今天
          slide: function (event, ui) {
            var date = new Date(ui.value * 1000);
            var dateStr = date.toISOString().split("T")[0];
            $("#current-date").text(dateStr);

            clearTimeout(debounceTimer);
            debounceTimer = setTimeout(function () {
              fetchNews(dateStr);
            }, 250); // 250毫秒延遲
          },
          change: function (event, ui) {
            var date = new Date(ui.value * 1000);
            var dateStr = date.toISOString().split("T")[0];
            $("#current-date").text(dateStr);
          },
          create: function (event, ui) {
            addTicks(this);
          },
        });

        // 初始化時設置當前日期
        var initialDate = today.toISOString().split("T")[0];
        $("#current-date").text(initialDate);
        fetchNews(initialDate);

        function addTicks(slider) {
          // 將傳入的 slider 轉換為 jQuery 對象
          var $slider = $(slider);

          // 獲取 slider 的最小值（起始時間）和最大值（當前時間）
          var min = $slider.slider("option", "min");
          var max = $slider.slider("option", "max");

          // 創建起始和結束時間的 Date 對象
          var start = new Date(min * 1000);
          var end = new Date(max * 1000);

          // 從起始時間開始，每次增加一個月，直到結束時間
          for (
            var d = new Date(start);
            d <= end;
            d.setMonth(d.getMonth() + 1)
          ) {
            // 計算 tick 的位置，作為百分比
            var position = ((d.getTime() / 1000 - min) / (max - min)) * 100;

            // 創建 tick 標記並設置其位置
            var tick = $('<div class="ui-slider-tick"></div>').css(
              "left",
              position + "%"
            );

            // 創建標籤並設置其位置和文本內容（年份-月份-日期）
            var label = $('<div class="ui-slider-tick-label"></div>')
              .css("left", position + "%")
              .text(
                d.getFullYear() +
                  "-" +
                  String(d.getMonth() + 1).padStart(2, "0") +
                  "-" +
                  String(start.getDate()).padStart(2, "0")
              );

            // 對最後一個標籤進行特殊處理，避免排列超出 slider
            if (d.getTime() === end.getTime()) {
              label.css({
                right: "1",
              });
            }

            // 將 tick 和標籤添加到 slider 中
            $slider.append(tick).append(label);
          }
        }
      });

      // 前端緩存
      var newsCache = {};

      function fetchNews(date) {
        if (newsCache[date]) {
          console.log("[Frontend Cache][Stock News] successful: " + date);
          $("#news-summary").html(marked(newsCache[date]));
        } else {
          console.log(
            "[Frontend Cache][Stock News] Fail. Call Backend: " + date
          );
          $.get(
            "{{ url_for('main.get_stock_shorts_summary') }}",
            { date: date , ticker: 'AAPL'},
            function (data) {
              newsCache[date] = data.news;
              $("#news-summary").html(marked(data.news));
            }
          );
        }
      }
    </script>
  </body>
  {% endblock %}
</html>
