<!DOCTYPE html>
{% extends "_main_base.html" %}
<html>
  {% block head %}
  <head>
    {{ super() }}
    <style>
      label {
        font-weight: bold;
      }
    </style>
  </head>
  {% endblock %} {% block content %}
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Create New Ticker</h1>
      <hr class="my-4" />
      <a
        href="{{url_for('main.research_management_overview')}}"
        class="btn btn-dark"
        >回到研究管理</a
      >
    </div>

    <div class="container" style="max-width: 700px; margin: 0 auto">
      {% include "_flash_alert_model.html" %}
      <div class="card">
        
      <div class="card-body">
        <form
          id="form"
          enctype="multipart/form-data"
          action="{{ url_for('main.create_ticker_info')}}"
          method="post"
        >
          <!-- Enter Ticker -->
          <div class="form-group">
            <label for="ticker">Ticker</label>
            <input
              type="text"
              class="form-control"
              id="ticker"
              name="ticker"
              placeholder="ex: AAPL"
              required
            />
          </div>

          <!-- Select Profit Rating -->
          <div class="form-group">
            <label for="profit_rating">Profit Rating</label>
            <select
              class="form-control"
              id="profit_rating"
              name="profit_rating"
            >
              <option value="" disabled selected>Select a Rating</option>
              <option value="extreme_high">Extreme High</option>
              <option value="high">High</option>
              <option value="mid">Mid</option>
              <option value="low">Low</option>
              <option value="extreme_low">Extreme Low</option>
              <option value="not_applicable">Not Applicable</option>
            </select>
          </div>

          <!-- Select Risk Rating -->
          <div class="form-group">
            <label for="risk_rating">Risk Rating</label>
            <select
              class="form-control"
              id="risk_rating"
              name="risk_rating"
              required
            >
              <option value="" disabled selected>Select a Rating</option>
              <option value="extreme_high">Extreme High</option>
              <option value="high">High</option>
              <option value="mid">Mid</option>
              <option value="low">Low</option>
              <option value="extreme_low">Extreme Low</option>
              <option value="not_applicable">Not Applicable</option>
            </select>
          </div>

          <!-- Select Researcher  -->
          <div class="form-group">
            <label for="researcher_id">Researcher</label>
            <select
              class="form-control"
              id="researcher_id"
              name="researcher_id"
            >
              <option value="" disabled selected>Select a Person</option>
              {% for user_meta in user_meta_list %}
              <option value="{{user_meta['_id']}}">
                {{user_meta["username"]}}
              </option>
              {% endfor %}
            </select>
          </div>

          <!-- Enter Investment Thesis -->
          <div class="form-group">
            <label for="description">Investment Thesis (optional)</label>
            <textarea
              class="form-control"
              id="investment_thesis"
              name="investment thesis"
              rows="7"
              placeholder="Enter detailed investment thesis here"
            ></textarea>
          </div>
          <button type="submit" id="submit-button" class="btn btn-dark">
            Create
          </button>
        </form>
      </div>
    </div>
  </div>
    <br />
    <br />
  </body>
  {% endblock %}
</html>

{% block script %}
<script>
  {
    {
      super();
    }
  }
</script>
{% endblock %}
