<!DOCTYPE html>
<html>
  {% extends "_main_base.html" %} {% block head %}
  <head>
    {{ super() }}
    <style>
      .category-group-1 {
        background-color: #f0f0f0; /* 浅灰色 */
        border-color: #d6d8db;
      }
    </style>
    <title>{% block title %}Internal Stock Info: {{ticker}}{% endblock %}</title>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
  </head>
  {% endblock %} {% block content %}
  <body>
    <div class="jumbotron">
      <h1 class="display-4">{{ticker}}</h1>
      <hr class="my-4" />
      <a
        class="btn btn-outline-dark btn"
        href="{{url_for('main.ticker_market_info', ticker=ticker)}}"
        >市場資訊</a
      >
      <a
        class="btn btn-outline-dark btn"
        href="{{url_for('main.ticker_setting_info', ticker=ticker)}}"
        >個股設定</a
      >
      <a
        class="btn btn-outline-dark btn"
        href="{{url_for('main.render_static_html', page='internal_stock_report_upload')}}"
        >內部報告上傳</a
      >
    </div>

    <div class="container card">
      <div class="card-body">
        <h3 class="card-title">投資邏輯</h3>
        <div class="alert alert-info" role="alert">
          <strong>更新日期：{{updated_timestamp}}</strong>
        </div>
        <p class="card-text">{{investment_thesis}}</p>

        <div class="row">
          <div class="col-md-6">
            <div class="card border-dark mb-3">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(214, 51, 51)">
                  獲利評等: {{profit_rating}}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card border-dark mb-3">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(79, 188, 79)">
                  風險評等: {{risk_rating}}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container card">
      <div class="card-body">
        <h3 class="card-title">研究報告</h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Date</th>
              <th scope="col">Author</th>
              <th scope="col">Report Type</th>
              <th scope="col">Title</th>
              <th scope="col">Review</th>
              <th scope="col">Url</th>
            </tr>
          </thead>
          <tbody>
            {% for item_meta in internal_stock_report_meta_list %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{ item_meta['data_timestamp'] }}</td>
              <td>{{ item_meta['author'] }}</td>
              <td>{{ item_meta['report_type'] }}</td>
              <td>{{ item_meta['title'] }}</td>
              <!-- <td><a class="btn btn-secondary btn-sm" href='/' target="_blank">Read</a></td> -->
              <td><a class="btn btn-secondary btn-sm" href="#">Check</a></td>
              <td>
                <a
                  class="btn btn-secondary btn-sm"
                  href="{{ item_meta['url'] }}"
                  target="_blank"
                  >Read</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>

  <script>
    $(document).ready(function () {
      // 动态分配行颜色
      $("#conclusion_table tbody tr").each(function (index) {
        if (index % 2 === 1) {
          $(this).addClass("category-group-1");
        }
        // 奇数行不添加任何类
      });
    });
  </script>
  {% endblock %}
</html>
