<!DOCTYPE html>
<html>
  {% extends "_main_base.html" %} {% block head %}
  <head>
    {{ super() }}
    <style>
      .category-group-1 {
        background-color: #f0f0f0; /* 浅灰色 */
        border-color: #d6d8db;
      }
    </style>
    <title>
      {% block title %}Internal Stock Info: {{ticker}}{% endblock %}
    </title>
  </head>
  {% endblock %} {% block content %}
  <body>
    <div class="jumbotron">
      <h1 class="display-4">{{ticker}}</h1>
      <hr class="my-4" />
      <a
        class="btn btn-outline-dark btn"
        href="{{url_for('main.ticker_market_info', ticker=ticker)}}"
        >市場資訊</a
      >
      <a
        class="btn btn-outline-dark btn"
        href="{{url_for('main.ticker_setting_info', ticker=ticker)}}"
        >個股設定</a
      >
      <a
        class="btn btn-outline-dark btn"
        href="{{url_for('main.render_static_html', page='internal_stock_report_upload')}}"
        >內部報告上傳</a
      >
    </div>

    <div class="container card">
      <div class="card-body">
        <h3 class="card-title">投資邏輯</h3>
        <div class="alert alert-info" role="alert">
          <strong>更新日期：{{updated_timestamp}}</strong>
        </div>
        <p class="card-text">{{investment_thesis}}</p>

        <div class="row">
          <div class="col-md-6">
            <div class="card border-dark mb-3">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(214, 51, 51)">
                  獲利評等: {{profit_rating}}
                </h5>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card border-dark mb-3">
              <div class="card-body">
                <h5 class="card-title" style="color: rgb(79, 188, 79)">
                  風險評等: {{risk_rating}}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-2 mx-6">
      <div class="card">
        <div class="card-body">
          <div class="card-header"><h5>內部報告</h5></div>
          <div class="card-body">
            {% from 'macros/stock_document_table.html' import
            render_internal_stock_report_table %}
            {{render_internal_stock_report_table(stock_report_meta_list) }}
          </div>
        </div>
      </div>
    </div>
  </body>

  <script>
    $(document).ready(function () {});
  </script>
  {% endblock %}
</html>
