<!DOCTYPE html>
{% extends "_main_base.html" %}
<html lang="en">
  {% block head %} {{ super() }}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/css/jquery.dataTables.min.css"
  />
  <title>{% block title %}Event Overview{% endblock %}</title>
  {% endblock %}
  <body>
    {% block content %}
    <div class="jumbotron">
      <h1 class="display-4">Event Overview</h1>
      <hr class="my-4" />
    </div>

    <div class="container mt-2 mx-6">
      <div class="alert alert-info" role="alert">
        預設為顯示最近7日到未來30日，系統涵蓋的所有事件列表，如須查詢特定條件請使用右側功能
      </div>
      <!-- flash alert（顯示事件文檔上傳結果） -->
      {% include "_flash_alert_model.html" %}
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="card-title">Event List</h3>
            <div class="dropdown ml-auto">
              <button
                class="btn btn-info dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                條件查詢
              </button>
              <div
                class="dropdown-menu dropdown-menu-right"
                style="width: 80vw; max-width: 800px; left: auto; right: 0"
                aria-labelledby="dropdownMenuButton"
              >
                <div class="container mt-2 mx-6">
                  <h3 class="card-title">Search</h3>
                  <div class="alert alert-primary" role="alert">
                    以下三個條件皆為選填，可全部留空（即查看所有事件）
                  </div>
                  <hr class="my-4" />
                  <form
                    action="{{ url_for('main.ticker_event_overview') }}"
                    method="post"
                    enctype="multipart/form-data"
                  >
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="start_date">Start Date</label>
                        <input
                          type="date"
                          class="form-control"
                          id="start_date"
                          name="start_date"
                        />
                      </div>
                      <div class="form-group col-md-6">
                        <label for="end_date">End Date</label>
                        <input
                          type="date"
                          class="form-control"
                          id="end_date"
                          name="end_date"
                        />
                      </div>
                      <div class="form-group col-md-12">
                        <label for="ticker">Ticker</label>
                        <input
                          type="text"
                          class="form-control"
                          id="ticker"
                          name="ticker"
                        />
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-outline-dark">
                        Search
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <a
              class="btn btn-info ml-2"
              href="{{ url_for('main.ticker_event_overview', ticker_range='following') }}"
              >只看追蹤股</a
            >
            <a
              class="btn btn-dark ml-2"
              href="{{url_for('main.render_static_html', page='ticker_event_upload')}}"
              >新增事件</a
            >
            <a
              class="btn btn-dark ml-2"
              href="{{ url_for('main.ticker_event_overview') }}"
              ><i class="bi bi-arrow-clockwise"></i>預設</a
            >
          </div>

          <hr class="my-4" />
          <table id="Table" class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Ticker</th>
                <th scope="col">Event</th>
                <th scope="col">Docs</th>
                <th scope="col">Upload</th>
                <th scope="col">Download</th>
              </tr>
            </thead>
            <tbody>
              {% for item_meta in event_meta_list %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <!-- event timestamp -->
                {% if item_meta["is_upcoming"] %}
                <td scope="row" style="white-space: nowrap">
                  {{ item_meta["event_time_str"] }}
                </td>
                {% else %}
                <td scope="row" style="color: lightgray; white-space: nowrap">
                  {{ item_meta["event_time_str"] }}
                </td>
                {% endif %}

                <!-- event ticker -->
                <td scope="row">
                  <a
                    class="tag true-tag"
                    href="{{ url_for('main.ticker_market_info', ticker=item_meta['ticker']) }}"
                    >{{ item_meta['ticker'] }}</a
                  >
                </td>
                <!-- event title （若有上傳文件，則可點擊頁面）-->
                 {% if item_meta["linked_document_num"] > 0 %}
                <td scope="row" style="text-align: center">
                  <a>{{item_meta["event_title"]}}</a>
                </td>
                {% else %}
                <td scope="row" style="text-align: center">
                  {{item_meta["event_title"]}}
                </td>
                {% endif %}

                <!-- event document num -->
                <td>{{item_meta["linked_document_num"]}}</td>

                <!-- event document upload -->
                <td scope="row">
                  <a
                    class="bi bi-file-arrow-up button-like"
                    href="#"
                    data-toggle="modal"
                    data-target="#uploadModal{{loop.index}}"
                  ></a>

                  <!-- Modal -->
                  <div
                    class="modal fade"
                    id="uploadModal{{ loop.index }}"
                    tabindex="-1"
                    role="dialog"
                    aria-labelledby="uploadModalLabel"
                    aria-hidden="true"
                  >
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5
                            class="modal-title"
                            id="uploadModalLabel"
                            style="text-align: left"
                          >
                            文件上傳： ({{ item_meta["ticker"] }}) - {{
                            item_meta["event_title"] }}
                          </h5>
                          <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                          >
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>

                        <div class="modal-body">
                          <p style="text-align: left">已上傳文件：</p>
                          <ul
                            style="
                              padding-left: 0;
                              list-style: none;
                              margin-bottom: 20px;
                            "
                          >
                            {% for doc in item_meta["linked_documents"] %}
                            <li class="card" style="text-align: left">
                              {{ doc['title'] }}
                            </li>
                            {% endfor %}
                          </ul>
                          <div class="my-4"></div>
                          <form
                            action="{{ url_for('main.upload_event_document') }}"
                            method="POST"
                            enctype="multipart/form-data"
                          >
                            <input
                              type="hidden"
                              name="event_id"
                              value="{{ item_meta['_id'] }}"
                            />
                            <input
                              type="hidden"
                              name="ticker"
                              value="{{ item_meta['ticker'] }}"
                            />
                            <input
                              type="hidden"
                              name="event_time_str"
                              value="{{ item_meta['event_time_str'] }}"
                            />
                            <div class="form-group" style="text-align: left">
                              <label for="document_type">Document Type</label>
                              <select
                                class="form-control"
                                id="document_type"
                                name="document_type"
                                required
                              >
                                <!-- <option value="" disabled selected>Select a document type</option> -->
                                <option value="transcript">
                                  Transcript || 逐字稿
                                </option>
                                <option value="slide">
                                  Slide || 活動投影片
                                </option>
                                <option value="news">News || 相關新聞</option>
                              </select>
                            </div>

                            <div class="form-group">
                              <input
                                type="file"
                                class="form-control"
                                id="files"
                                name="files"
                                multiple
                                required
                              />
                            </div>

                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal"
                              >
                                取消
                              </button>
                              <button type="submit" class="btn btn-primary">
                                上傳
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <!-- link to seekingalpha (transcripts) -->
                <td scope="row">
                  <a
                    class="bi bi-arrow-down-circle button-like"
                    href="https://seekingalpha.com/symbol/{{item_meta['ticker']}}/earnings/transcripts"
                    target="_blank"
                  ></a>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"></script>
<script>
  $("#Table").DataTable({
    paging: true,
    ordering: true,
    info: true,
    searching: true,
    pageLength: 50,
  });
</script>
{% endblock %}
