{% macro render_stock_document_table(doc_meta_list, show_tag=True,
show_source=True) %}
<div class="card-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Date</th>
        <!-- Tags -->
        {% if show_tag %}
        <th scope="col">Tag</th>
        {% endif %}
        <!-- Source -->
        {% if show_source %}
        <th scope="col">Source</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for item_meta in doc_meta_list %}
      <tr>
        <th scope="row">{{ loop.index }}</th>
        <!-- 文件標題（若已讀則加上樣式） -->
        <td
          scope="row"
          style="
            max-width: 350px;
            white-space: nowrap;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #333;
            font-weight: bold;
          "
        >
          <a
            href="{{item_meta['read_url']}}"
            target="_blank"
            class="{% if item_meta['is_viewed'] %} read-title {% endif %}"
            >{{ item_meta['title'] }}</a
          >
        </td>

        <td style="white-space: nowrap">{{ item_meta['data_date_str'] }}</td>

        <!-- 若需要顯示tag則顯示ticker列表 -->
        {% if show_tag %}
        <td>
          {% for ticker in item_meta['tickers'] %}
          <a
            class="tag true-tag"
            href="{{ url_for('main.ticker_market_info', ticker=ticker) }}"
            >{{ ticker }}</a
          >
          {% endfor %}
        </td>
        {% endif %}

        <!-- 券商來源 -->
        {% if show_source %}
        <td style="text-align: center; white-space: nowrap">
          {{ item_meta['beautified_source'] }}
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endmacro %}

<!-- internal_stock_report_table -->
{% macro render_internal_stock_report_table(doc_meta_list) %}
<table class="table table-hover" id="Table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Date</th>
      <th scope="col">Author</th>
      <th scope="col">Tickers</th>
      <th scope="col">Type</th>
      <th scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {% for item_meta in doc_meta_list %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{ item_meta['data_date_str'] }}</td>
      <td>{{ item_meta['author'] }}</td>

      <td>
        {% for ticker in item_meta['tickers'] %}
        <a
          class="tag true-tag"
          href="{{ url_for('main.ticker_market_info', ticker=ticker) }}"
          >{{ ticker }}</a
        >
        {% endfor %}
      </td>

      <td><span class="tag">{{ item_meta['report_type'] }}</span></td>

      <td>
        <a href="{{ item_meta['url'] }}" target="_blank"
          >{{ item_meta['title'] }}</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
